<!DOCTYPE html>
<html>
 <head>
  <% include ../views/partials/head %>
 </head>
 <body>
  <% include ../views/partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>YEJIN's HOME</h1>
   </div>
   <img src="images/sample.jpg" height=500>

  </div>
 </body>
</html>
