<!DOCTYPE html>
<html>
  <head>
     <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/nav %>
    <div class="container" id="file_menu">
    <audio controls="controls">
      <source src="/files/audios" type="audio/mp3"/></audio>
    </div>
  </body>
</html>
